/* Element Selector */

body{
    background-color: darkblue;
    color: white;
    margin: 0;
    padding: 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}


/* ID selector */

#container{
    background-color: chocolate;
}

/* class selector */

.container{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    

}

.container-fluid {
    width: 100%;
    
}

.header {
    background-color:#5e2c0b;
    padding: 20px;
}

.nav{
    background-color:#ae7c5b ;
    padding-top: 20px;
    padding-bottom: 20px;

}

.nav a {
    text-decoration: none;
    color: #fff;
    padding: 20px;
    transition: 0.5c;
}

.nav a:hover {
    background-color: #6e3c1b;
    padding-left: 40px;
    transition: 0.5c;

}

.nav a.active {
    background-color:#6e3c1b ;
}

.content {
    background-color:#eab897;
    padding: 20px;
    width: 60%;
    float: left;
    margin-right: 20px;

}

.sidebar {
    background-color:#9e6c4b;
    padding: 20px;
   


}

.footer {
    background-color: darkslategrey;
    padding: 20px;


}